{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="cart-section">
        {% if cart is empty %}
                <p colspan="3">Votre panier est vide</p>
        {% else %}
        {% set totalPrice = 0 %}
        <section class="cart-content">
            {% for id, item in cart %}
                <div class="item-content">
                    {% set imageMap = {
                        1: 'black.jpeg',
                        2: 'darkblue.jpeg',
                        3: 'orange.jpeg',
                        4: 'tricolor.jpeg',
                        5: 'pink.jpeg',
                        6: 'white.jpeg',
                        7: 'grey.jpeg',
                        8: 'blue.jpeg',
                        9: 'us.jpeg',
                        10: 'green.jpeg'
                    } %}
                    {% set image = imageMap[item.id] %}

                    <img class="cart-img" src="{{ asset('images/' ~ image) }}" alt="{{ item.name }}">
                    <p>Nom : {{ item.name }}</p>
                    <p>Prix : {{ item.price }} €</p>
                    <form method="post" action="{{ path('app_remove_from_cart', { 'id': id }) }}" style="display:inline;">
                        <button class="btn" type="submit">RETIRER DU PANIER</button>
                    </form>
                </div>
                {% set totalPrice = totalPrice + item.price %}
            {% endfor %}
        </section>
        <section class="priceandbtns">
            <div class="cart-total">
                <p><strong>TOTAL : {{ totalPrice }} €</strong></p>
            </div>
            {% endif %}
            <div class="cart-actions">
                <button class="pay-btn">FINALISER MA COMMANDE</button>
                <button class="continue-btn" onclick="window.location.href='{{ path('app_products') }}'">CONTINUER MES ACHATS</button>
            </div>
    </div>
{% endblock %}
