{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<section class="login-container">
    {% for flash_success in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
    <form method="post" class="login-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
            Vous êtes déjà connecté.e en tant que {{ app.user.userIdentifier }}, 
            <a href="{{ path('app_logout')}}">Se déconnecter</a>
            </div>
        {% endif %}

        <h1 class="login-title">Se connecter</h1>
        <hr color="D3D3D3" width="300px"/>
        <label for="inputUsername">Nom d'utilisateur :</label>
        <input type="text" value="{{ last_username }}" name="name" id="inputUsername" class="form-control" autocomplete="username" required>
        <label for="inputPassword">Mot de passe :</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button> 
        <div>
        <a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié</a>
        <hr color="D3D3D3" width="300px"/>
        </div> <br>
        <div class="mb-3 text">Pas encore inscrit ? <br>
        <button class="btn" onclick="window.location.href='{{ path('app_register') }}'">Créer un compte</button>
        </div>
    </form>
</section>
{% endblock %}
