{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="register-container">
    <section class="register-form">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="register-title">S'inscrire</h1>
        <hr color="D3D3D3" width="300px"/>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name, {
                label: 'Nom d\'utilisateur :'
            }) }}
        {{ form_row(registrationForm.email, {
            label: 'Adresse mail :'
        }) }}
        {{ form_row(registrationForm.deliveryAddress, {
            label: 'Adresse de livraison'
        }) }}
        {{ form_row(registrationForm.password.first, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.password.second, {
            label: 'Confirmer le mot de passe :'
        }) }}

            <button type="submit" class="btn">Créer un compte</button> <br><br>
            <hr color="D3D3D3" width="300px"/> <br>
        {{ form_end(registrationForm) }}

        <div class="mb-3 text">Déjà inscrit ? <br>
        <button class="btn" onclick="window.location.href='{{ path('app_login') }}'">Se connecter</button>
        </div>
    </section>
</div>
{% endblock %}
