<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/build/app.css">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <header>
            <nav class="navbar primary">
                <div>
                    <a href="{{ path('app_home') }}" class="navbar-brand">Stubborn</a>
                    <p class="slogan">Don't compromise on your look</p>
                </div>
                <div class="navbar-menu ml-auto">
                    <a class="navbar-link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" href="{{ path('app_home') }}">Accueil</a>
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="navbar-link {% if app.request.attributes.get('_route') == 'app_sweatshirts_index'  %}active{% endif %}" href="{{ path('app_sweatshirts_index') }}">Back-Office</a>
                        {% endif %}
                        <a class="navbar-link {% if app.request.attributes.get('_route') == 'app_products' %}active{% endif %}" href="{{ path('app_products') }}">Boutique</a>
                        <a class="navbar-link {% if app.request.attributes.get('_route') == 'app_cart' %}active{% endif %}" href="{{ path('app_cart') }}">Panier</a>
                        <a class="navbar-link {% if app.request.attributes.get('_route') == 'app_logout' %}active{% endif %}" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% else %}
                        <a class="navbar-link {% if app.request.attributes.get('_route') == 'app_register' %}active{% endif %}" href="{{ path('app_register') }}">S'inscrire</a>
                        <a class="navbar-link {% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}" href="{{ path('app_login') }}">Se connecter</a>
                    {% endif %}
            </div>
            </nav>
        </header>
        
        <main>
            {% block body %}{% endblock %}
        </main>

        <footer class="footer">
            <p>
            <b>Informations de la société</b> <br>
            <u>Nom de la société :</u> Stubborn <br>
            <u>Adresse :</u> Piccadilly Circus, London W1J 0DA, Royaume-Uni <br>
            <u>Adresse de contact :</u> stubborn@blabla.com <br>
            <u>Slogan:</u> Don't compromise on your look <br>
            </p>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script>
        {% endblock %}
    </body>
</html>
